<nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
    <div class="container">
        <section class="navbar-mobile">
            <span class="navbar-divider d-mobile-none"></span>

            <ul class="nav nav-navbar">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/leave}">Leaves</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/user/salary}">Salaries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
            </ul>
        </section>
    </div>
</nav>